.flx-header{
  margin-bottom: 1vr;
  lost-flex-container: row;
  & .hd-photo {
    width: 5vr;
    height: 5vr;
    border-radius: 100%;
    display: block;
    overflow: hidden;
  }
  & img {
    width: 5vr;
  }
  & > div:first-child {
    lost-column: 1/6 0 10px flex;
  }
  & > div:last-child {
    lost-column: 5/6 flex;
  }
}
