@import "~normalize.css/normalize.css";

body {
  font: 18px/1.4 sans-serif;
}
@custom-selector :--headings h1, h2, h3, h4, h5, h6;
:--headings, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5vr;
}
h2 {
  font-size: 2vr;
}
h3 {
  font-size: 1.5vr;
}
h4 {
  font-size: 1vr;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  &:hover {
    color: red;
  }
}
