@import "normalize.css/normalize.css";
@import "./vars.css";


body {
  color: gray(50);
  padding: 2rem;
  font: 16px/1.8 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
}
h1 {
  font-size: 1.5vr;
}
h2 {
  font-size: 1.3vr;
}
h3 {
  font-size: 1vr;
}
h4 {
  font-size: 0.8vr;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: gray(50);
  text-decoration: none;
  &:hover {
    color: red;
  }
}
