@import "./vars.css";

body {
  color: gray(50);
  padding: 2rem;
  font: 16px/1.8 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
}

:--headers {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.5vr;
}
h2 {
  font-size: 1.3vr;
}
h3 {
  font-size: 1vr;
}
h4 {
  font-size: 0.8vr;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: gray(50);
  text-decoration: none;
  &:hover {
    color: red;
  }
}

blockquote {
  padding-left: 16.875px;
  border-left: 6px solid lightgray;
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
}
